build/
bin/
cmake-build-*/
.idea/
output/
CMakeFiles/
conan.lock
conanbuildinfo.cmake
conanbuildinfo.txt
conaninfo.txt
graph_info.json
conanworkspace.cmake
CMakeCache.txt
Makefile
cmake_install.cmake
*.cbp
build_log.txt
.vs/
*.cmake
CMakeSettings.json
.gradle/
local.properties
*.sln
*.vcxproj
*.filters
*.dir/*
x64/*
out/*
CMakeUserPresets.json